.mainContainer{
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: auto;
    margin-top: 1em;
    background-color: transparent;
}
.cartItemPic{
    max-width: 50%;
    max-height: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.cartItem{
    display: flex;
    justify-content: space-between;
    margin: 1em 1em;
    height: max-content;
    background-color:#f5c842;
    max-height: 300px;
}
.itemText{
    display: block;
    height: max-content;
}

.cartPicWrap img{
    max-width: 80%;
    max-height: 80%;
    margin: auto;
}
.cartPicWrap{
    display: flex;
    justify-content: center;
    background-color: white;
    max-width: 300px;
    max-height: 350px;
}
.itemsContainer{
    width: 70%;
    margin-left: 0;
    background-color: #f5c842;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
    margin-bottom: 2em;
}
.orderDetail{
    width: 30%;
    text-align: center;
    background-color: #f5c842;
    height: fit-content;
    border-radius: 20px;
    margin-left: 1em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
    position: sticky;
    top: 0;
}
.cartButtonDiv{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: fit-content;
}
.cartButtonDiv button{
    width: 40%;
    padding: 0;
    width: 30%;
    font-size: larger;
    border-radius: 0.15em;
    cursor: pointer;
}
.checkOutButton {
    transition: 1s;
    width: 40%;
    border-radius: 20px;
    margin-bottom: 1em;
}

.checkOutButton:hover {
    box-shadow: inset 400px 0 0 0 #edbd0e;
    color: white;
}