@-webkit-keyframes typing {
    from {
        width: 0;
    }
}

@-webkit-keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}
.logo {
    margin: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 4rem;
    background: linear-gradient(to bottom, black, black 60%, black 60%, black 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    white-space: nowrap;
    transition: background 0.2s ease-out;
    margin-left: 45%;
    margin-top: 50px;
    overflow: hidden;
    font: bold 300% 'Oswald', monospace;
    border-right: .1em solid black;
    width: 16.5em;
    width: 6.5ch;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 2s steps(21, end), blink-caret .5s step-end infinite alternate;
}

.logo:hover {
    background-position: 20 0px;
    text-decoration: underline;
    text-shadow: 0px 1px rgb(255, 255, 255);
}

a.button-header {
    display: inline-block;
    padding: 0.35em 1.2em;
    margin: 0 1em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 380;
    margin-left: 15%;
    transition: all 0.2s;
    width: max-content;
}

a.button:hover {
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: underline;
}

.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Oswald;
    font-weight: 300;
    color: #FFFFFF;
    left: 50%;
    transition: all 0.2s;
    width:50%;
    margin-left:25%;
    margin-right:25%;
    background-color: Transparent;
}

.button1:hover {
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: underline;
}

@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}

.product-text {
    text-align: center;
}

.background {
    height: 100%;
    /* max-height: 600px; */
    width: 100%;
    background-color: hsla(200, 40%, 30%, .4);
    background-image: url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'), url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'), url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'), url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
    background-repeat: repeat-x;
    background-position: 0 20%, 0 100%, 0 50%, 0 100%, 0 0;
    background-size: 2500px, 800px, 500px 200px, 1000px, 400px 260px;
    animation: 50s para infinite linear;
}


.background2 {
    height: 100%;
    /* max-height: 600px; */
    width: 100%;
    background-color: #f5d880;
}

@keyframes para {
    100% {
        background-position: -5000px 20%, -800px 95%, 500px 50%, 1000px 100%, 400px 0;
    }
}

.navbar {
    overflow: hidden;
    background-color: #333;
}
  
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

a.userHello:hover {
  background-color:#333;
  box-shadow: none;
}
